BACKEND_URL=http://127.0.0.1:7812
ONEC_COM_PROGID=V83.COMConnector
ONEC_COM_SERVER=192.168.2.229
ONEC_COM_REF=erp_pm
ERP_LOGIN=
ERP_PASSWORD=
# COM-сессия 1С для чтения служебных записок. Пароль не коммитьте.
# Optional override if you want to provide the full COM string yourself:
# ONEC_COM_CONNECTION_STRING=Srvr=192.168.2.229;Ref=erp_pm;Usr=user;Pwd=password
ONEC_COM_SEARCH_METHOD=SearchDocuments
ONEC_COM_GET_DOCUMENT_CARD_METHOD=GetDocumentCard
ONEC_COM_SEARCH_TASKS_METHOD=SearchTasks
ONEC_COM_GET_TASK_CARD_METHOD=GetTaskCard
